<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>paste-result</string>
			<key>Shell Script File</key>
			<string>preform-trick.sh</string>
			<key>Title</key>
			<string>*</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Wraps text snippet in asterisk</string>
	<key>Extension Identifier</key>
	<string>com.noahcardoza.popclip.extension.asterisk</string>
	<key>Extension Name</key>
	<string>Asterisk</string>
	<key>Required Software Version</key>
	<integer>701</integer>
</dict>
</plist>
